<div class="container">
  <div class="row">
    <div class="col col-md-7">
  <!--Formulario de ayuda-->
  <div class="div_ayuda wrap">

    <!--Mensajes de ayuda-->
    <div id="mensajes">
      <h2 id="h2_mensaje"><b>¿Cómo podemos <br> ayudarte?</b></h2>
      <p id="p_mensaje">Déjanos un mensaje. ¡Pronto nos contactaremos contigo!</p>
      <p id="telefono_mensaje"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +(593) 98 741 3874</p>
    </div>
  </div>
    </div>

    <div class="col">
      <div class="container p-2 myContainer justify-content-center">
        <form #form="ngForm" (ngSubmit)="guardar(form)">

          <div class="form-row">
            <div class="form-group col-md-8 p-1">
              <label for="inputName">Ingresa tu nombre</label>
              <input #nombre type="text" class="form-control" id="inputName" placeholder="Ej: Luis Almeida">
            </div>
            <div class="form-group col-md-8 p-1">
              <label for="inputEmail">Ingresa Correo Electrónico</label>
              <input #correo type="email" class="form-control" id="inputEmail" placeholder="Ej: luis.almeida@mail.com">
            </div>

            <div class="form-group col-md-8 p-1">
              <label for="selectProject">Selecciona el proyecto</label>
              <select #proyectos class="form-select form-select-sm" aria-label=".form-select-sm example" id="selectProject">
                <option selected>Selecciona un proyecto</option>
                <option value="Proyecto 1">Proyecto 1</option>
                <option value="Proyecto 2">Proyecto 2</option>
                <option value="Proyecto 3">Proyecto 3</option>
                <option value="Proyecto 4">Proyecto 4</option>
                <option value="Proyecto 5">Proyecto 5</option>
              </select>
            </div>

            <div class="form-group col-md-8 p-1">
              <label for="selectFinancing">Selecciona el tipo de financiamiento</label>
              <select #financiamiento class="form-select form-select-sm" aria-label=".form-select-sm example" id="selectFinancing">
                <option selected>Selecciona el tipo de financiamiento</option>
                <option value="Contado">Contado</option>
                <option value="Directo">Directo</option>
              </select>
            </div>

            <div class="form-group col-md-8 p-1">
              <label for="floatingTextarea">Déjanos un comentario</label>
              <textarea class="form-control" placeholder="Ingresa un comentario" id="floatingTextarea"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Terminos">
              <label class="form-check-label" for="gridCheck">
                Acepto los términos y condiciones
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="Suscribirme">
              <label class="form-check-label" for="gridCheck">
                Deseo suscribirme
              </label>
            </div>

          </div>
          <div class="d-grid col-md-8">
            <button class="btn btn-primary" type="submit">Quiero más información</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
