<div class="container-fluid">
    <div class="row">
        <img src="../../../assets/images/branding-home.gif" class="img" alt="">
    </div>

    <div class="mt-5">
        <app-cards></app-cards>
    </div>
       
    <div class="mt-5">
        <app-view-last-project></app-view-last-project>
    </div>
<!--
    <div class="mt-5">
        <app-form></app-form>
    </div>
-->
    
    <!--Formulario de ayuda-->
    <div class="div_ayuda wrap">
        <!--
            <i class="fa fa-home" aria-hidden="true"></i>
            <i class="fa fa-globe" aria-hidden="true"></i>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
        -->

        <!--Mensajes de ayuda-->
        <div id="mensajes">
            <h2 id="h2_mensaje"><b>¿Cómo podemos <br> ayudarte?</b></h2>
            <p id="p_mensaje">Déjanos un mensaje. ¡Pronto nos contactaremos contigo!</p>
            <p id="telefono_mensaje"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +(593) 98 741 3874</p>
        </div>


    <div class="mt-5">
        <app-architects></app-architects>
    </div>
</div>


