
#header{
    background: white;
}

#menu img{
    margin-left: 60px;
}

#menu ul li{
    text-decoration: none;
    padding: 0px 30px 0px 30px;
}

#menu ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 200ms;
}

#menu ul li a:hover{
    transform: scale(1.5, 1.5);
}

#btnWhatsMenu{
    margin-left: 90px;
}

#linkWhats{
    color: black;
}

a{
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}