.mapa{
    width: 100%;
    height: 100%;
}

.fila-text{
    width: 100%;
    height: 50%;
}

.btn{
    background-color: #F05454;
    border: none;
    transition: all linear 0.35s;
}

.btn:hover{
    background-color: #EABE3F;
    color: #30475E;
    border: none;
}


