<div class="container mt-5">
  <!--Title-->
  <div class="title col-lg-12 row">
    <h2 class="text-center">Buscar</h2>
</div>
<!--Textbox-->
<div class="textbox col-lg-12 row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="input-group">
            <input #name type="text" class="form-control" placeholder="Ingresa el nombre del proyecto">
            <button class="btn btn-outline-secondary" type="button" (click)="readProject()">Buscar</button>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
  <h2 class="titulo-proyectos">Proyectos</h2>

  <!--Search-->
  <section class="search row">
    



<!-- Resultado de la consulta -->


    <!--Result-->
    <div class="result col-lg-12 row text-center" *ngIf="searchProject.name">
        <!--Image-->
        <app-card [project]="searchProject"></app-card>
    </div>
  </section>

  <div class="mt-4 row row-cols-1 row-cols-md-3 g-4">

    <!-- Pintamos cada una de las tarjetas -->
    <div class="col" *ngFor="let project of projects">
      <app-card [project]="project"></app-card>
    </div>
    <!-- Fin -->

  </div>

  <div class="mt-5">
    <app-create-project></app-create-project>
  </div>

  

  
</div>


