<!--Social Bar-->
<section class="social-bar row">
    <div>
        <a href="https://www.facebook.com/cristhiantohasa" class="icon icon-facebook" target="_blank"><img src="../../../../assets/images/facebook.png" alt="facebook"></a>
        <a href="https://www.instagram.com/cristhiantohasa" class="icon icon-instagram" target="_blank"><img src="../../../../assets/images/instagram.png" alt="instagram"></a>
        <a href="https://wa.me/593939352978" class="icon icon-whatsapp" target="_blank"><img src="../../../../assets/images/whatsapp.png" alt="whatsapp"></a>
    </div>
</section>
