/*
    Brra de redes
*/

.social-bar {
	display: flex;
	position: fixed;
	top: 15%;
	left: 0;
	font-size: 1.5rem;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	display: flex;
	padding: .7rem;
	color: white;
	text-decoration: none;
	transition: all .5s;
}

.icon-facebook {
	background: #3b5998;
}

.icon-instagram {
	background: #125688;
}

.icon-whatsapp {
	background: #4dc247;
}

.icon:hover {
	padding-right: 5rem;
	box-shadow: 0 0 .5rem black;
}

img {
    width: 100%;
    height: 50px;
}