<!--Social Bar-->
<section class="social-bar row">
    <div>
        <a href="https://www.facebook.com/Maslow-BR-105920098361022" class="icon icon-facebook" target="_blank"><img src="../../../../assets/images/facebook.png" alt="facebook"></a>
        <a href="https://www.instagram.com/uribeschwarzkopf/" class="icon icon-instagram" target="_blank"><img src="../../../../assets/images/instagram.png" alt="instagram"></a>
        <a href="https://wa.me/5930987413874" class="icon icon-whatsapp" target="_blank"><img src="../../../../assets/images/whatsapp.png" alt="whatsapp"></a>
    </div>
</section>