<footer class="pt-4 my-md-5 pt-md-5 border-top ">
    <div class="row mx-auto text-center ">
      <div class="col-6 col-md mx-auto">
        <img class="mb-2" src=".../../../../assets/images/Maslow-logo.png" alt="">
        <small class="d-block mb-3 text-muted">&copy; 2020–2021</small>
      </div>
      <div class="col-12 col-md mx-auto">
        <h5>Encuentranos</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1 d-flex">
            <a class="link-secondary text-decoration-none d-flex align-items-center" href="#">
              <span class="material-icons">house</span>
              <span class="ms-2 text-info">Carlos Ibarra N12-11 y Santa Prizca, Edificio Gómez</span>
            </a>
          </li>
          <li class="mb-1 d-flex">
            <a class="link-secondary text-decoration-none d-flex align-items-center" href="#">
              <span class="material-icons">location_on</span>
              <span class="ms-2 text-info">Quito - Ecuador</span>
            </a>
          </li>
          <li class="mb-1 d-flex">
            <a class="link-secondary text-decoration-none d-flex align-items-center" href="#">
              <span class="material-icons">call</span>
              <span class="ms-2 text-info">+593 98 7413 874</span>
            </a>
          </li>
          <li class="mb-1 d-flex">
            <a class="link-secondary text-decoration-none d-flex align-items-center" href="#">
              <span class="material-icons">email</span>
              <span class="ms-2 text-info">info@maslowbr.com</span>
            </a>
          </li>
        </ul>
      </div>
     
      <div class="col-4 col-md mx-auto">
        <h5>Nuestras Redes</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1">
            <a class="link-secondary text-decoration-none" href="#">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              Maslow-BR
            </a>
          </li>
          <li class="mb-1">
            <a class="link-secondary text-decoration-none" href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              Maslow-BR
            </a>
          </li>
          <li class="mb-1">
            <a class="link-secondary text-decoration-none" href="#">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
              Maslow-BR
            </a>
          </li>
        </ul>
        
      </div>
    </div>
  </footer>