<div class="center-vertical>">
    <div class="detalles-proyecto-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <!--Cambia el nombre del proyecto-->
                    <h1 class="proyecto-name">
                        Riachuel Building
                    </h1>
                    <div class="fecha-entrega">
                        <h5>Fecha de entrega</h5>
                        <!--Cambia la fecha de entrega-->
                        <h4>Cuarto trimestre del 2023</h4>
                    </div>
                    <div class="datos-arquitecto">
                        <h5>Arquitecto</h5>
                        <!--Cambia el nombre del arquitecto-->
                        <h4>Matthew Olaoluwa</h4>
                    </div>
                    <div class="datos-sector">
                        <h5>Sector</h5>
                        <!--Cambia el sector-->
                        <h4>La carolina</h4>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <div class="">
                                <span class="material-icons d-flex justify-content-center">home</span>
                                <p class="d-flex justify-content-center">Residencia</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <div class="">
                                <span class="material-icons d-flex justify-content-center">business</span>
                                <p class="text d-flex justify-content-center">Edificio</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <div class="">
                                <span class="material-icons d-flex justify-content-center">groups</span>
                                <p class="text d-flex justify-content-center">Arriendo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!--Cambia la imagen del proyecto-->
                    <div class="img-proyecto">
                        <img src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="sala-ventas-section">
    <div class="center-vertical">
        <div class="container">
            <div class="row">
                <h1 class="ventas-header">
                    Sala de Ventas
                </h1>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                    <div class="img-head">
                        <img src="../../../assets/images/sala-ventas.jpg">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h2 class="ventas-detalles">
                        Carlos Ibarra N 12-11 y Santa Prisca
                    </h2>
                    <h2 class="ventas-numero">
                        +593 99 388 3147
                    </h2>
                    <h2 class="horario-ventas">
                        <p>Horario</p>
                        <h2>Lun - Vie   10:00 - 18:00</h2>
                        <h2>Sábados   10:00 - 18:00</h2>
                        <h2>Domingos  10:00 - 15:00</h2>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="financiamiento-section">
    <div class="center-vertical">
        <div class="container">
            <div class="row">
                <h1>Financiamiento</h1>
                <h2>Departamentos</h2>
                <h3>10%</h3>
                <h4>Entrada</h4>
                <h3>20%</h3>
                <h4>Cuotas Estándares o Progresivas durante los 24 meses de construcción</h4>
                <h3>70%</h3>
                <h4>Contra Entrega con Fondos Propios o Crédito Hipotecario</h4>
            </div>
        </div>
    </div>
</div>
