<div class="center-vertical>">
    <div class="detalles-proyecto">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h2 class="proyecto-name">
                        <h2>Nombre del Proyecto</h2>
                    </h2>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="img-proyecto">
                        <img src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<img src="../../../assets/images/about-us-person.jpg">
