<div class="container">
  <h2 class="fs-1 mb-5">Conoce nuestros últimos proyectos</h2>
  <div class="row">
    <div class="col-sm-6 img">
      <img src="https://images.pexels.com/photos/462331/pexels-photo-462331.jpeg" class="rounded" alt="...">
    </div>
    <div class="col-sm-6">
      <div class="container">
        <h2 class="featurette-heading">Últimos Lanzamientos</h2>
        <p class="lead">17 hermosas casas de 3 dormitorios desde 160m2, diseñadas para que puedas vivir y disfrutar tu
          vida. Con un diseño único y detalles pensados para generar riqueza espacial y maximizar la sensación de hogar
          y
          comunidad. <br>

          Magnolia Gardens, tu nuevo hogar que verá crecer a tu familia.</p>

          <div class="d-grid gap-2 align-middle">
            <button type="button" class="btn btn-primary btn-lg align-middle"> 
              <span class="material-icons align-middle" id="view-project">visibility</span>
              Ver el proyecto
            </button>
          </div>

      </div>




    </div>
  </div>
