<div class="card h-100">
  <img class="card-img-top" [src]="url+'read-image/'+project.image" alt="project">
  <div class="card-body">
    <!-- Cambia el nombre de cada proyecto -->
    <h5 class="card-title name-proyect">{{ project.name }}</h5>

    <!-- Cambia el nombre del arquitecto -->
    <p class="card-text name-architect mt-4">Arquitecto:</p>    
    <p class="card-text name-architect-name ml-2">{{ project.architect }}</p>
    
    <!-- Cambia la fecha de entrega del proyecto -->
    <p class="card-text date-delivery">Fecha de Entrega</p>
    <p class="card-text date-delivery-date">{{ project.date }}</p>
    <div class="d-grid gap-2">
      <div class="row justify-content-center">
        <div class="col" *ngIf="project.type.toLowerCase() == 'residencia'">
          <span class="material-icons d-flex justify-content-center">home</span>
          <p class="d-flex justify-content-center">Residencia</p>
        </div>
        <div class="col" *ngIf="project.type.toLowerCase() == 'edificio'">
          <span class="material-icons d-flex justify-content-center">business</span>
          <p class="text d-flex justify-content-center">Edificio</p>
        </div>
        <div class="col" *ngIf="project.type.toLowerCase() == 'arriendo'">
          <span class="material-icons d-flex justify-content-center">groups</span>
          <p class="text d-flex justify-content-center">Arriendo</p>
        </div>
      </div>
      <div class="card-footer align-middle">
        <div class="d-grid gap-2 align-middle">
          <button type="button" class="btn btn-primary btn-lg align-middle"> 
            <span class="material-icons align-middle" id="view-project">visibility</span>
            Ver el proyecto
          </button>
        </div>
      </div>
      <div class="align-middle">
        <input type="submit" class="form-control" value="Eliminar" (click)="deleteProject()">
      </div>
    </div>